body {
    background: #303030;
    font-family: Arial, sans-serif;
    color: #303030;
}

ul {
    list-style: none;
}

h2 {
    font-size: 25px;
    display: inline-block;
}

.contact-list {
    width: 95%;
    background: #EBEBEB;
    border-radius: 15px;
    padding-bottom: 20PX;
}

.contact-list p {
    margin-top: -15px;
}

.contact-card {
    border-radius: 15px;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background: #EBEBEB;
}

form {
    background: #EBEBEB;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 300px;
    border-radius: 15px;
}

form > input,
form > button,
form > textarea {
    margin: auto;
    display: block;
    width: 240px;
    padding: 4px 8px;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 1px solid #888;
    font-size: 14px;
    background: #EBEBEB;
}

.nav-menu {
    margin: auto;
    padding: 20px;
    display: block;
    list-style-type: none;
    font-size: 30px;
    background-color: #EBEBEB;
    border-radius: 15px;
}

.nav-menu li {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.nav-menu a {
    color: cornsilk;
}

.menu-item-link a,
a:visited,
a:link {
    color: #303030;
    text-decoration: none;
}